* {
	margin: 0;
	padding: 0;
	color: #1b1b1b;
	background-color: #f0f0f0;
}

.da {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.da > div {
	position: fixed;
}

.daToolBar {
	top: 0;
	left: 0;
	width: 100%;
	height: 32px;
	background-color: green;
}

.daCanvas {
	top: 32px;
	left: 160px;
	width: calc(100% - 160px - 140px);
	height: calc(100% - 32px - 24px);
	overflow: auto;
	background-color: yellow;
}

.daCanvas > canvas {
	background-color: white;
}

.daToolWindow {
	top: 32px;
	left: 0;
	width: 160px;
	height: calc(100% - 32px - 24px);
	background-color: blue;
}

.daColorsWindow {
	top: 32px;
	right: 0;
	width: 140px;
	height: calc(100% - 32px - 24px);
	background-color: brown;
}

.daStatusBar {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 24px;
	background-color: gray;
}