* {
	margin: 0;
	padding: 0;
	color: black;
	background-color: white;
}

.meLogin {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.meLoginForm {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -75%);
}

.meLoginForm > label {
	display: block;
}

.meMenu {
	padding: 1rem;
}

.meMenu > table {
	max-width: 640px;
}

.meExam, .meCheck {
	padding: 1rem;
	width: calc(100vw - 2rem);
}

.meExamNav, .meCheckNav {
	float: left;
	width: 30%;
}

.meExamNav > select, .meCheckNav > select {
	overflow: hidden;
}

.correct {
	background-color: #44ff44;
}

.incorrect {
	background-color: #ff4444;
}

.meExamForm, .meCheckForm {
	margin-left: calc(30% + 1rem);
}